<h1>
  Imones pridejimas
</h1>
<form method="post" action="/add-company">
  <p>
    <label>Imones pavadinimas</label>
    <input type="text" name="name" value="" />
  </p>
  <p>
    <label>Imones adresas</label>
    <input type="text" name="address" value="" />
  </p>
  <p>
    <button type="submit">Irasyti </button>
  </p>
</form>