<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.88.1" />
    <title>Signin Template · Bootstrap v5.1</title>

    <style>
      .heading{ margin-top:80px } form{ width:30% }
    </style>

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet" />

  </head>
  <body class="text-center">

    <main class="form-signin d-flex justify-content-center">
      <form method="post" action="/login">
        <h1 class="h3 mb-3 fw-normal heading text-center">Prisijunkite</h1>

        <div class="form-floating">
          <input
            name="email"
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example.com"
          />
          <label for="floatingInput">El. pasto adresas</label>
        </div>
        <div class="form-floating">
          <input
            name="pasword"
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Slaptazodis</label>
        </div>
        <button
          class="w-100 btn btn-lg btn-outline-dark mt-3"
          type="submit"
        >Prisijungti</button>
      </form>
    </main>

  </body>
</html>