<h1>Paieska</h1>

<form method="post" action="/irasai/paieska">
  <p>
    <label>Paieskos tekstas</label>
    <input type="text" name="s" />
  </p>
  <p>
    <input type="submit" value="Ieskoti" />
  </p>
</form>