<h1>Duomenų perziura</h1>

<input type="hidden" name="id" value="{{view._id}}" />
<p>
  <strong>Pavadinimas: {{view.pavadinimas}}</strong>
</p>

<p><strong>Turinys: {{view.turinys}}</strong>
</p>

<p> <strong>Data: {{view.data}} </strong></p>